.bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(
        90deg,
        rgba(9, 9, 121, 1) 0%,
        rgba(0, 212, 255, 1) 100%
    );
}
